*{ padding: 0; margin: 0; list-style: none; -webkit-box-sizing:border-box;box-sizing:border-box;outline:0;-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent}
*html{background-image:url(about:blank);background-attachment:fixed;}/*瑙ｅ喅IE6涓嬫粴鍔ㄦ姈鍔ㄧ殑闂*/
*{-webkit-user-select: auto;}
body{background: #EDEDED;}
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,a,span,p,text,input,textarea,i{color:#333333;font-size:.28rem;margin:0px;padding:0px;font-family:"寰蒋闆呴粦";-webkit-overflow-scrolling:touch;outline:medium;font-weight: normal;}
::-webkit-input-placeholder{color:#CBCBCB;}
:-moz-placeholder{color:#CBCBCB;}
::-moz-placeholder{color:#CBCBCB;}
:-ms-input-placeholder{color:#CBCBCB;}
input:focus,textarea:focus,button:focus,select:focus{outline:none;}
input::-ms-clear{display:none;}
em, i {font-style: normal;}
a{text-decoration:none!important;}
a {text-decoration: none; -webkit-touch-callout: none;}
a:active,a:visited{outline: none; border: 0;}
img{border:none;}
table{border-collapse:collapse;border-spacing:0;}
b,strong{font-weight: bold;}
p{line-height: .28rem;}
.font-normal{font-weight: normal;}
.simhei{font-family: SimHei;}

.content{ margin: 0 auto; padding: 0 .2rem;}
.mg-auto{margin: 0 auto;}
.img{width: 100%;height: 100%;}
.img-box{overflow: hidden;max-width: 100%;box-sizing: border-box;}
.img-box img{width: 100%;height: 100%;}
.img-cover{width: 100%;height: 100%;}
.text-line-through{text-decoration: line-through;}
.shadow-none{box-shadow: none !important;}
.point{cursor: pointer;}
.sizing{box-sizing: border-box;}
.block{display: block;}
.inline{display: inline-block;}
.over{overflow: hidden;}

.text-center{text-align: center;}
.text-tips{color: #666666;}
.f-12{font-size: .24rem;}
.mt-30{margin-top: .3rem;}

/*绮椾綋*/
.strong{font-weight:bold;}
.italic{font-style: italic;}
.text-normal{font-weight:normal;}

/***娴姩***/
.fl { float: left; }
.fr { float: right; }
.relative { position: relative;}

/***娓呴櫎娴姩***/
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.clear {clear:both; }

/***闅愯棌涓庢樉绀�***/
.hidden{display:none;}
.show{display:block;}
.hidden-print{display: none !important;}

/*鏂囨湰鐪佺暐*/
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.text-two{text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  }
.text-three{text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 3;  -webkit-box-orient: vertical;  }
.text-four{text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 4;  -webkit-box-orient: vertical;  }
.no-ellipsis{overflow:auto;text-overflow:initial;white-space:normal;}

/*** flex ***/
.flex{display: flex;}
.dir-column{flex-direction:column;}
.just-between{justify-content:space-between;}
.just-center{justify-content:center;}
.just-end{justify-content:flex-end;}
.just-start{justify-content:flex-start;}
.align-start{align-items:flex-start}
.align-center{align-items:center;}
.align-bottom{align-items:flex-end;}

.pd-0{padding:0 !important;}

/*鍥炬爣*/
.ico{display:inline-block;background:transparent no-repeat;background-size:100% 100%;}
.ico.ico_smail{width:.46rem ;height: .46rem;background-image: url(../img/ico_smail.png);}
.ico.ico_add{width:.46rem ;height: .46rem;background-image: url(../img/ico_add.png);}
.ico.ico_photo{width:.46rem ;height: .46rem;background-image: url(../img/ico_photo.png);}
.ico.ico_group{width: .65rem;height: .65rem;background-image:url(../img/ico_group.png);}
.ico.ico_server{width: .65rem;height: .65rem;background-image:url(../img/ico_server.png);}
.ico.ico_next{width: .4rem;height: .4rem;background-image:url(../img/icon_next.png);}
.ico.ico_code{width: .5rem;height: .5rem;background-image:url(../img/ico_code.png);}